<div fxLayout="row" fxLayoutAlign="start stretch" fxLayoutGap="16px">
  <div fxFlex class="app-mat-table-container">
    <table mat-table [dataSource]="demands">
  
      <ng-container matColumnDef="text">
        <th mat-header-cell *matHeaderCellDef>
          <button mat-button (click)="add()"[color]="'primary'">
            <mat-icon>add_circle</mat-icon>
            {{ 'demands.add' | translate }}
          </button>
          <button mat-button (click)="refresh()" color="primary">
            <mat-icon>refresh</mat-icon>
            {{ 'demands.refresh' | translate }}
          </button>
        </th>
        <td mat-cell *matCellDef="let element">
          {{ element.title }}
          <span>{{ element.comment }}</span>
        </td>
      </ng-container>
  
      <ng-container matColumnDef="button">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element; let idx = index;">
          <mat-icon (click)="remove(idx)" matTooltip="{{ 'demands.remove' | translate }}" class="app-cursor-pointer app-icon-valign-text-bottom" [color]="'warn'">cancel</mat-icon>
        </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>  
    </table>
  </div>
</div>




<!-- 

<h2 mat-dialog-title>{{'Demands' | translate}}</h2>

<button mat-button (click)="add()">{{'demands.add' | translate}}</button>
<button mat-button (click)="refresh()">{{'demands.refresh' | translate}}</button>

<div>
  <ul>
    <li *ngFor="let demand of demands; let idx = index;">
        <div>{{demand.title}}</div>
        <div>{{demand.comment}}</div>
      <button mat-button (click)="remove(idx)">{{'demands.remove' | translate}}</button>
    </li>
  </ul>
</div> -->
