<div fxLayout="row" fxLayoutAlign="start stretch" fxLayoutGap.gt-xs="16px" fxLayout.xs="column" gdAlignColumns.lt-xs="false">
  <div fxFlex.gt-sm="25%" fxFlex.gt-xs="30%" fxFlex.xs="100%">
    <mat-list role="list">
      <mat-list-item role="listitem" *ngFor="let offer of offers; let idx = index;">
        <mat-icon mat-list-icon>access_time</mat-icon>
        <!-- <mat-icon mat-list-icon>timelapse</mat-icon> -->
        <mat-icon mat-list-icon>lock</mat-icon>
        <!-- <mat-icon mat-list-icon>lock_open</mat-icon> -->
        <h4 mat-line><a (click)="load(offer)">{{ offer.nazev }}</a></h4>
        <p mat-line>{{ offer.created }}</p>
      </mat-list-item>
    </mat-list>
  </div>
  <div fxFlex.gt-sm="75%" fxFlex.gt-xs="70%" fxFlex.xs="100%">
    <div fxFlex class="app-mat-table-container">
      <table mat-table [dataSource]="records">
    
        <ng-container matColumnDef="text">
          <th mat-header-cell *matHeaderCellDef>
            <button mat-button (click)="add()"[color]="'primary'">
              <mat-icon>add_circle</mat-icon>
              {{ 'demands.add' | translate }}
            </button>
            <button mat-button (click)="refresh()" color="primary">
              <mat-icon>refresh</mat-icon>
              {{ 'desc.refresh' | translate }}
            </button>
          </th>
          <td mat-cell *matCellDef="let element">
            {{ element.title }}
          </td>
        </ng-container>
    
        <ng-container matColumnDef="button">
          <th mat-header-cell *matHeaderCellDef>
            <button mat-flat-button color="primary" class="app-button" matTooltip="{{ 'desc.refresh' | translate }}"><mat-icon>refresh</mat-icon></button>
            <button mat-flat-button color="primary" class="app-button" matTooltip="{{ 'desc.view_report' | translate }}"><mat-icon>pageview</mat-icon></button>
            <button mat-flat-button color="primary" class="app-button" matTooltip="{{ 'desc.import_to_offer' | translate }}"><mat-icon>import_export</mat-icon></button>
            <button mat-flat-button color="primary" class="app-button" matTooltip="{{ 'desc.add_to_offer_from_template' | translate }}"><mat-icon>library_add</mat-icon></button>
            <button mat-flat-button color="primary" class="app-button" matTooltip="{{ 'desc.add_to_offer_by_searching' | translate }}"><mat-icon>search</mat-icon></button>
          </th>
          <td mat-cell *matCellDef="let element; let idx = index;">
            <mat-icon (click)="remove(idx)" matTooltip="{{ 'demands.remove' | translate }}" class="app-cursor-pointer app-icon-valign-text-bottom" [color]="'warn'">cancel</mat-icon>
          </td>
        </ng-container>
    
        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>  
      </table>
    </div>
  </div>
</div>


<!-- <h2 mat-dialog-title>{{'Offers' | translate}}</h2>

<div fxLayout="row" fxLayoutAlign="start stretch" fxLayoutGap.gt-xs="16px" fxLayout.xs="column" gdAlignColumns.lt-xs="false">

  <div fxFlex.gt-sm="25%" fxFlex.gt-xs="30%" fxFlex.xs="100%">
    <button mat-button (click)="add()">{{'offers.add' | translate}}</button>
    <button mat-button (click)="refresh()">{{'offers.refresh' | translate}}</button>
      <ul>
        <li *ngFor="let offer of offers; let idx = index;">
            <a (click)="load(offer)">{{offer.nazev}}</a>
            <div>{{offer.created}}</div>
          <button mat-button (click)="remove(idx)">{{'offers.remove' | translate}}</button>
        </li>
      </ul>
    </div>


  <div class="app-offer-items" fxFlex.gt-sm="75%" fxFlex.gt-xs="70%" fxFlex.xs="100%">
      <h3 >{{currentOffer.nazev}}</h3>
      <ul>
          <li *ngFor="let row of records; let idx = index;">
              <div>{{row.title}}</div>
            <button mat-button (click)="remove(idx)">{{'offers.removeFrom' | translate}}</button>
          </li>
        </ul>

  </div>
</div> -->

