<div fxLayout="row" fxLayoutAlign="start stretch" fxLayoutGap.gt-xs="16px" fxLayout.xs="column" gdAlignColumns.lt-xs="false">
  <div fxFlex.gt-sm="25%" fxFlex.gt-xs="30%" fxFlex.xs="100%">
    <mat-list role="list">
      <mat-list-item role="listitem" *ngFor="let offer of offers; let idx = index;" [class.active]="offer.id === currentOffer.id">
        <mat-icon matTooltip="{{ offer.expired ? 'expired' : 'not_expired' | translate }}" 
          mat-list-icon>{{offer.expired ? 'access_time' : 'timelapse'}}</mat-icon>
        <mat-icon matTooltip="{{ offer.closed ? 'closed' : 'open' | translate }}" 
          mat-list-icon>{{offer.closed ? 'lock' : 'lock_open'}}</mat-icon>
        <h4 mat-line><a (click)="load(offer)">{{ offer.nazev }}</a></h4>
        <p mat-line>{{ offer.created }}</p>
      </mat-list-item>
    </mat-list>
  </div>
  <div fxFlex.gt-sm="75%" fxFlex.gt-xs="70%" fxFlex.xs="100%">
    <div fxFlex class="app-mat-table-container">
      <table mat-table [dataSource]="records">
    
        <ng-container matColumnDef="text">
          <th mat-header-cell *matHeaderCellDef>
            <button mat-button (click)="add()">
              <mat-icon class="app-icon-small app-icon-valign-text-top">add_circle</mat-icon>
              {{ 'offers.add' | translate }}
            </button>
            <button mat-button (click)="refresh()">
              <mat-icon class="app-icon-small app-icon-valign-text-top">refresh</mat-icon>
              {{ 'desc.refresh' | translate }}
            </button>
            <button mat-button *ngIf="currentOffer && !currentOffer.isVA">
              <mat-icon class="app-icon-small app-icon-valign-text-top">archive</mat-icon>
              {{ 'desc.add_to_secondhand' | translate }}
            </button>
          </th>
          <td mat-cell *matCellDef="let element">
            {{ element.title }}
          </td>
        </ng-container>

        <ng-container matColumnDef="price">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let element">
            <input #cena type="number" [(ngModel)]="element.cena" style="text-align:right;width:70px;" [class.error]="element.needPrice" /> Kč
          </td>
        </ng-container>
    
        <ng-container matColumnDef="button">
          <th mat-header-cell *matHeaderCellDef>
            <div>
              <button mat-flat-button class="app-button app-button-gray" (click)="refreshOffer()" matTooltip="{{ 'desc.refresh' | translate }}"><mat-icon>refresh</mat-icon></button>
              <button mat-flat-button class="app-button app-button-gray" (click)="viewReport()" matTooltip="{{ 'desc.view_report' | translate }}"><mat-icon>pageview</mat-icon></button>
              <button mat-flat-button class="app-button app-button-gray" (click)="uploadToOffer()" matTooltip="{{ 'desc.import_to_offer' | translate }}"><mat-icon>file_upload</mat-icon></button>
              <button mat-flat-button class="app-button app-button-gray" (click)="templateToOffer()" matTooltip="{{ 'desc.add_to_offer_from_template' | translate }}"><mat-icon>library_add</mat-icon></button>
              <button mat-flat-button class="app-button app-button-gray" (click)="searchToOffer()" matTooltip="{{ 'desc.add_to_offer_by_searching' | translate }}"><mat-icon>search</mat-icon></button>
            </div>
          </th>
          <td mat-cell *matCellDef="let element; let idx = index;">
            <span *ngFor="let ch of element.chci" class="app-logo app-no-logo" style="color: rgba(26, 148, 9, 0.582);">{{ ch }}</span>
            <span *ngFor="let ch of element.nechci" class="app-logo app-no-logo" style="color: rgba(255, 0, 0, 0.452);">{{ ch }}</span>
            <mat-icon (click)="addToVA(element)" matTooltip="{{ 'desc.add_to_secondhand' | translate }}" class="app-cursor-pointer app-icon-valign-text-bottom app-icon-right-mg">archive</mat-icon>
            <mat-icon (click)="removeFromOffer(idx)" matTooltip="{{ 'offers.remove' | translate }}" class="app-cursor-pointer app-icon-valign-text-bottom" [color]="'warn'">cancel</mat-icon>
          </td>
        </ng-container>
    
        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row [ngClass]="{'app-even': index%2 == 1}" *matRowDef="let row; columns: displayedColumns; let index = index"></tr>  
      </table>
    </div>
  </div>
</div>


