<h2 mat-dialog-title>{{'Advanced search' | translate}}</h2>
<mat-dialog-content class="mat-typography">
	<mat-form-field>
		<input matInput [(ngModel)]="data.title" [placeholder]="'název' | translate" cdkFocusInitial />
	</mat-form-field>
	<mat-form-field>
		<input matInput [(ngModel)]="data.author" [placeholder]="'autor' | translate" />
	</mat-form-field>
	<mat-form-field>
		<input matInput [(ngModel)]="data.rok" [placeholder]="'rok vydání' | translate" />
	</mat-form-field>
	<mat-form-field>
		<input matInput [(ngModel)]="data.isbn" [placeholder]="'isbn' | translate" />
	</mat-form-field>
	<mat-form-field>
		<input matInput [(ngModel)]="data.issn" [placeholder]="'issn' | translate" />
	</mat-form-field>
	<mat-form-field>
		<input matInput [(ngModel)]="data.ccnb" [placeholder]="'ččnb' | translate" />
	</mat-form-field>
	<mat-form-field>
		<input matInput [(ngModel)]="data.vydavatel" [placeholder]="'vydavatel' | translate" />
	</mat-form-field>
</mat-dialog-content>
<mat-dialog-actions align="end">
		<button mat-button (click)="reset()">Reset</button>
		<button mat-button mat-dialog-close>Cancel</button>
  <button mat-button [mat-dialog-close]="data">OK</button>
</mat-dialog-actions>
