<h2 mat-dialog-title>{{'offers.import_to_offer' | translate}}</h2>
<mat-dialog-content class="mat-typography">
  <input type="file" id="fileUpload" name="fileUpload" multiple="multiple" accept="{{accept}}" style="display:none;" />
  <div>
    <label id="radio-group-label">{{'offers.upload_format' | translate}}</label>
    <mat-radio-group aria-labelledby="radio-group-label" class="radio-group" [(ngModel)]="format" fxLayout="row">
      <mat-radio-button color="primary" class="radio-button" value="csv">CSV</mat-radio-button>
      <mat-radio-button color="primary" class="radio-button" value="aleph">ALEPH</mat-radio-button>
    </mat-radio-group>
  </div><br />

  <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
  <mat-list role="list">
    <mat-list-item role="listitem" *ngFor="let file of files" [@fadeInOut]="file.state">
      <!-- <mat-progress-bar [value]="file.progress"></mat-progress-bar> -->
      <button mat-icon-button (click)="retryFile(file)" *ngIf="file.canRetry" matTooltip="{{ 'desc.refresh' | translate }}" [disableRipple]="true">
        <mat-icon>refresh</mat-icon>
      </button>
      <button mat-icon-button (click)="cancelFile(file)" *ngIf="file.canCancel" matTooltip="{{ 'desc.cancel' | translate }}" class="app-icon-cancel" [disableRipple]="true">
        <mat-icon>cancel</mat-icon>
      </button>
      <label>{{file.data.name}}</label>
    </mat-list-item>
  </mat-list>

</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button (click)="onClick()">
    <mat-icon>file_upload</mat-icon>
    {{'desc.upload' | translate}}
  </button>
  <button mat-button (click)="uploadFiles()" [disabled]="files.length === 0">Import</button>
  <button mat-button mat-dialog-close>{{ 'desc.close' | translate }}</button>
</mat-dialog-actions>