<div fxLayout="row" fxLayoutAlign="start stretch" fxLayoutGap="16px">
  <div fxFlex class="app-mat-table-container">
    <table mat-table [dataSource]="data" class="mat-elevation-z2">
      <ng-container matColumnDef="text">
        <th mat-header-cell *matHeaderCellDef>
          <button mat-button (click)="order()">
            <mat-icon fontSet="material-icons-outlined">shop</mat-icon>
            {{ 'cart.order' | translate }}
          </button>
          <button mat-button (click)="getCart()">
            <mat-icon>refresh</mat-icon>
            {{ 'desc.refresh' | translate }}
          </button>
        </th>
        <td mat-cell *matCellDef="let element">
          {{ element.title }}
          <span>{{ element.comment }}</span>
          <span class="app-no-logo">({{ element.knihovna }})</span>
        </td>
        <td mat-footer-cell *matFooterCellDef>
          <strong>{{ 'desc.total' | translate }}</strong>
        </td>
      </ng-container>
  
      <ng-container matColumnDef="cena">
        <th mat-header-cell *matHeaderCellDef>
          {{ 'desc.price' | translate }}
        </th>
        <td mat-cell *matCellDef="let element">
          {{ element.cena }} Kč
        </td>
        <td mat-footer-cell *matFooterCellDef>
          <strong>{{ totalCost }} Kč</strong>
        </td>
      </ng-container>
  
      <ng-container matColumnDef="button">
        <th mat-header-cell *matHeaderCellDef class="app-header-cell-30"></th>
        <td mat-cell *matCellDef="let element; let idx = index;">
          <button mat-icon-button (click)="remove(idx)" matTooltip="{{ 'cart.remove_from_basket' | translate }}" class="app-icon-cancel" [disableRipple]="true">
            <mat-icon  [color]="'warn'">cancel</mat-icon>
          </button>
        </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row [ngClass]="{'app-even': index%2 == 1}" *matRowDef="let row; columns: displayedColumns; let index = index"></tr>  
      <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
    </table>
  </div>
</div>

