<mat-toolbar color="primary">
  
    <mat-toolbar-row fxLayout="row" class="app-row-top" fxLayout.lt-sm="column">
      <div class="app-container">
        <div fxFlex fxFlex.lt-sm="100%" class="app-fx-left">
          <span><a routerLink="home" matTooltip="{{'app.title' | translate}}">
            <img *ngIf="state.isLibrary" [src]="config.context + '/assets/img/logo-vdk-primary-desc.png'" alt="{{'app.title' | translate}}" />
            <img *ngIf="!state.isLibrary" [src]="config.context + '/assets/img/logo-va.png'" alt="{{'app.title_va' | translate}}" />
          </a></span>
        </div>
        <div fxFlex fxFlex.lt-sm="100%" class="app-fx-right" [ngClass.lt-md]="'app-hide'">
          <span><a routerLink="home">{{'navbar.home' | translate}}</a></span>
          <span><a routerLink="/registrace">{{'navbar.registration' | translate}}</a></span>
          <span *ngIf="user && user.role === 'ADMIN'"><a routerLink="/admin">{{'navbar.administration' | translate}}</a></span>
          <span><a (click)="changeLang()" class="app-link">{{currLang}}</a></span>
          <span>
            <a *ngIf="!user" (click)="login()" class="app-link">{{'navbar.login' | translate}}</a>
            <ng-container *ngIf="user">
              {{user.nazev}}
              <a routerLink="profile" matTooltip="{{'user.profile' | translate}}"><mat-icon>person</mat-icon></a>
              <a (click)="logout()" matTooltip="{{'navbar.logout' | translate}}"><mat-icon>input</mat-icon></a>
            </ng-container>
          </span>
        </div>
      </div>
    </mat-toolbar-row>
  

  <mat-toolbar-row fxLayout="row" class="app-row-bottom app-container">
    <div fxFlex class="app-fx-left">
      <app-search-form *ngIf="!state.isHome"></app-search-form>
    </div>
    <div fxFlex class="app-fx-right" [ngClass.lt-md]="'app-hide'">
      <span class="example-fill-remaining-space"></span>
      <span *ngIf="state.shoppingCart.length > 0">
        <a (click)="shoppingCart()"><mat-icon>shopping_cart</mat-icon>{{'navbar.shoppingCart' | translate}} ({{state.shoppingCart.length}})</a>
      </span>
      <span *ngIf="state.isLibrary"><a (click)="export()">{{'navbar.export' | translate}}</a></span>
      <span *ngIf="state.isLibrary"><a (click)="demands()">{{'navbar.demands' | translate}}</a></span>
      <span *ngIf="state.isLibrary"><a (click)="offers()">{{'navbar.offers' | translate}}</a></span>
      <span *ngIf="state.isLibrary"><a routerLink="orders">{{'navbar.orders' | translate}}</a></span>
      <span *ngIf="state.isLibrary">
        <mat-form-field>
          <mat-label>{{'navbar.views' | translate}}</mat-label>
          <mat-select (selectionChange)="changeView()" [(ngModel)]="selectedView">
            <mat-option *ngFor="let view of views" [value]="view">{{view.name}}</mat-option>
          </mat-select>
        </mat-form-field>
      </span>
      <span *ngIf="state.isLibrary"><a *ngIf="isLogged" (click)="openViewDialog()">{{'navbar.save_view' | translate}}</a></span>
    </div>
  </mat-toolbar-row>
</mat-toolbar>