<h2 mat-dialog-title>{{'offers.add_to_offer_from_template' | translate}}</h2>
<mat-dialog-content class="mat-typography">
	<form name="addToOfferForm" id="addToOfferForm" action="db" method="POST"
	fxLayout="row" fxLayoutAlign="start stretch" fxLayoutGap.gt-xs="16px" fxLayout.xs="column" gdAlignColumns.lt-xs="false">
		<div fxFlex.gt-sm="50%" fxFlex.gt-xs="50%" fxFlex.xs="100%">
			<input name="id" value="" type="hidden">
			<input name="action" value="ADDFORMTOOFFER" type="hidden">

			<mat-form-field class="app-input-full-width">
				<input matInput placeholder="ISBN (020a)" name="isbn">
			</mat-form-field>	
			<mat-form-field class="app-input-full-width">
				<input matInput placeholder="ISSN (022a)" name="issn">
			</mat-form-field>
			<mat-form-field class="app-input-full-width">
				<input matInput placeholder="čČNB (015a)" name="ccnb">
			</mat-form-field>	
			<mat-form-field class="app-input-full-width">
				<input matInput placeholder="{{ 'offers.title_245a' | translate }}" name="title">
			</mat-form-field>	
			<mat-form-field class="app-input-full-width">
				<input matInput placeholder="{{ 'offers.part_number' | translate }}" name="f245n">
			</mat-form-field>	
			<mat-form-field class="app-input-full-width">
				<input matInput placeholder="{{ 'offers.part_name' | translate }}" name="f245p">
			</mat-form-field>
			<mat-form-field class="app-input-full-width">
				<input matInput placeholder="{{ 'offers.edition_info' | translate }}" name="f250a">
			</mat-form-field>
		</div>
		<div fxFlex.gt-sm="50%" fxFlex.gt-xs="50%" fxFlex.xs="100%">
			<mat-form-field class="app-input-full-width">
				<input matInput placeholder="{{ 'offers.author_name_surname' | translate }}" name="f100a">
			</mat-form-field>	
			<mat-form-field class="app-input-full-width">
				<input matInput placeholder="{{ 'offers.author_corporation' | translate }}" name="f110a">
			</mat-form-field>	
			<mat-form-field class="app-input-full-width">
				<input matInput placeholder="{{ 'offers.author_action_name' | translate }}" name="f11a">
			</mat-form-field>
			<mat-form-field class="app-input-full-width">
				<input matInput placeholder="{{ 'offers.publication_details' | translate }}" name="f260">
			</mat-form-field>	
			<mat-form-field class="app-input-full-width">
				<input matInput placeholder="{{ 'desc.price' | translate }}" name="cena">
			</mat-form-field>	
			<mat-form-field class="app-input-full-width">
				<input matInput placeholder="{{ 'desc.comment' | translate }}" name="comment">
			</mat-form-field>	
		</div>
	</form>
</mat-dialog-content>
<mat-dialog-actions align="end">
	<button mat-button (click)="add()">{{ 'offers.add_to_offer' | translate }}</button>
	<button mat-button (click)="reset()">{{ 'desc.empty_formular' | translate }}</button>
	<button mat-button mat-dialog-close>{{ 'desc.close' | translate }}</button>
</mat-dialog-actions>
