// --- MIXINS ---

// set state
@mixin setLinkColor($color, $percent) {
  color: $color;
  
  &:hover {
    color: rgba($color, $percent);
  }
}

// set status color
$colors-list:(
  AR: $app-table-cell-status-AR,
  P: $app-table-cell-status-P,
  A: $app-table-cell-status-A,
  Z: $app-table-cell-status-Z,
  ZP: $app-table-cell-status-ZP,
  V: $app-table-cell-status-V,
  PK: $app-table-cell-status-PK,
  N: $app-table-cell-status-N,
  RZ: $app-table-cell-status-RZ,
);

@mixin setStatusColor() {
  @each $key,$val in $colors-list{
    &.app-status-#{$key} {
      background-color: #{$val};
    }
  }
}

// set button / icon size
@mixin setIconButton($buttonSize, $iconSize, $buttonMargin: 3px) {
  margin-left: $buttonMargin;
  margin-right: $buttonMargin;
  width: $buttonSize;
  height: $buttonSize;
  line-height: $buttonSize;

  .mat-icon {
    font-size: $iconSize;
    height: $iconSize;
    width: $iconSize;
    line-height: $iconSize;
  }
}

// set double button / icon size
@mixin setDoubleIconButton($buttonSize, $firstIconSize, $secondIconSize, $buttonMargin: 3px) {
  margin-left: $buttonMargin;
  margin-right: $buttonMargin;
  width: calc(#{$firstIconSize} + #{$secondIconSize}) !important;
  height: $buttonSize;
  line-height: $buttonSize;

  .mat-icon {
    &:first-child {
      font-size: $firstIconSize;
      height: $firstIconSize;
      width: calc(#{$firstIconSize} - 2px);
      line-height: $firstIconSize;
    } 

    &:last-child {
      font-size: $secondIconSize;
      height: $secondIconSize;
      width: $secondIconSize;
      line-height: $secondIconSize; 
    }
  }
}

// set icon size
@mixin setIcon($size, $color: inherit) {
  font-size: $size;
  height: $size;
  width: $size;
  color: $color;
}


