// --- THEME VA ---

$app-va-primary: mat-palette($mat-teal, 600);
$app-va-accent:  mat-palette($mat-purple, A200, A100, A400);
$app-va-theme:   mat-light-theme($app-va-primary, $app-va-accent);

@include angular-material-theme($app-va-theme);

// va colors
$app-primary-color: mat-color($app-va-primary);
$app-secondary-color: mat-color($app-va-accent, 800);