// --- VARIABLES --


// colors
$app-darkest: #000000 !default;
$app-lightest: #ffffff !default;

$app-background: mat-color($mat-grey, 200) !default;

// grid behavior
$app-gap: 16px !default;

$app-container-width-max: 1280px !default;
$app-container-width: 90% !default;

@debug "Debug:" $app-darkest