// --- NAVBAR ---

app-navbar {
  .mat-toolbar {
    font-size: 16px;

    .mat-toolbar-row {
      & > div {
        & > span {
          &:not(:first-child) {
            margin-left: $app-gap;
          }
        }
      }
    }
  }

  .app-fx-right {
    text-align: right;

    .mat-form-field {
      max-height: 58px;
    }
  }

  .mat-icon {
    vertical-align: sub;
    margin-left: $app-gap-icon;
  }

  .app-row-top-wrapper {
    background-color: $app-lightest;

    .app-row-top {
      background-color: $app-lightest;
      color: $app-gray-6;
  
      .app-fx-left {
        img {
          max-height: $app-navbar-logo-height;
          vertical-align: top;
        }
      } 
    }
  }

  .app-row-bottom {
    a, .app-link {
      color: $app-lightest;
    }
  }
}
