// --- OFFERS ---

app-offers {
  display: block;
  padding: $app-gap;

  .mat-list {
    .mat-list-item {
      &.mat-2-line {
        height: 48px;

        .mat-list-text {
          .mat-line {
            font-size: $app-facet-list-item-val-font-size;
            color: $app-facet-list-item-val-color;
          }
        }
      }
    }
  }

  .app-mat-table-container {
    max-height: 700px;
    overflow: auto;

    .mat-table {
      thead {
        .mat-header-cell {
          color: $app-darkest;

          &.mat-column-button {
            position: relative;
            width: 100px;

            & > div {
              position: absolute;
              display: block;
              text-align: right;
              width: 200px;
              top: 13px;
              right: 30px;
            }
          }
        }
      }

      tbody {
        .mat-cell {
          &.mat-column-price {
            padding-left: calc(#{$app-gap-icon} * 2);

            input {
              @extend .app-clean-border, .app-clean-bg;
              font-size: inherit;

              &:focus {
                outline: none;
                background-color: $app-darkest !important;
                color: $app-lightest;
                padding: 2px 5px 3px 5px;
                width: 50px;
              }
            }
          }

          &.mat-column-button {
            text-align: right;
          }
        }
      }
    }
  }
}