// --- LAYOUT ---

header {
  min-height: 80px;

  @import "app-navbar";
}

main {
  background-color: $app-background;
  min-height: calc(100% - 128px - 50px);

  @import "app-admin";
  @import "app-demands";
  @import "app-home";
  @import "app-offers";
  @import "app-profile";
  @import "app-registration";
  @import "app-report";
  @import "app-results";
  @import "app-shopping-cart";
  @import "app-va-registration";
}

footer {
  background-color: $app-darkest;
  color: $app-lightest;
  min-height: 50px;

  @import "app-footer";
}

