// --- NAVBAR ---

app-navbar {
  .mat-toolbar {
    font-size: 16px;

    .mat-toolbar-row {
      & > div {
        & > span {
          &:not(:first-child) {
            margin-left: $app-gap;
          }
        }
      }
    }
  }

  .app-fx-right {
    text-align: right;

    .mat-form-field {
      max-height: 58px;
    }
  }

  .mat-icon {
    vertical-align: sub;
  }

  .app-row-top {
    background-color: $app-lightest;
    color: #e91e63;
    
    a, .app-link {
      color: #e91e63;
    }
  }

  .app-row-bottom {
    a, .app-link {
      color: $app-lightest;
    }
  }
}
