// --- OFFERS ---

app-offers {
  display: block;
  padding: $app-gap;

  .mat-list {
    .mat-list-item {
      &.mat-2-line {
        height: 48px;

        .mat-list-text {
          .mat-line {
            font-size: $app-facet-list-item-val-font-size;
            color: $app-facet-list-item-val-color;
          }
        }
      }
    }
  }

  .app-mat-table-container {
    max-height: 700px;
    overflow: auto;

    .mat-table {
      thead {
        .mat-header-cell {
          color: $app-darkest;

          &.mat-column-button {
            width: 300px;
            text-align: right;
          }
        }
      }

      tbody {
        .mat-cell {
          &.mat-column-button {
            text-align: right;
          }
        }
      }
    }
  }
}