// --- GLOBAL ---

a, .app-link {
	text-decoration: none;
	cursor: pointer !important;

	@include setLinkColor($app-primary-color, .7);
}

.app-cursor-pointer {
	cursor: pointer;
}

.app-hide {
	display: none;
}

.app-container {
	margin: 0 auto;
	max-width: $app-container-width-max;
	width: $app-container-width;
}

.app-wrap-component {
	display: block;
  padding: $app-gap;
}

.app-pipe {
	&:before {
		content: '|';
		margin-right: $app-gap-icon;
		margin-left: $app-gap-icon;
		color: $app-gray-4;
	}
}


// cleaners
.app-clean-pd {
	padding: 0 !important;
}

.app-clean-mg {
	margin: 0 !important;
}

.app-clean-shadow {
	box-shadow: none !important;
}

.app-clean-border {
	border: none !important;
}

.app-clean-bg {
	background-color: transparent !important;
}

// colors
.app-item-expired,
.app-item-closed {
	color: $app-gray-4;
}

// icons
.app-icon-cancel {
	color: $app-warn-color;
}

// popover card
.app-popover-card {
	background-color: $app-gray-1;

	.mat-card-header-text {
		@extend .app-clean-mg;

		.mat-card-title {
			margin-bottom: 6px;
			font-size: 1rem;
		}
	}
}

// angular material table
.mat-table {
	width: 100%;

	thead {
		.mat-header-cell {
			&:first-of-type {
				padding-left: $app-table-first-cell-left-pd;
			}
		}
	}

	tbody {
		.mat-row {
			&.app-even {
				background-color: $app-table-body-row-even;
			}

			&:hover {
				background-color: $app-table-body-row-highlight;
			}
		}

		.mat-cell {
			&:first-of-type {
				padding-left: $app-table-first-cell-left-pd;
			}
			
			@include setIconButton(18px, 18px);
		}
	}

	tfoot {
		.mat-footer-cell {
			&:first-of-type {
				padding-left: $app-table-first-cell-left-pd;
			}
		}
	}
}

// mat list
.mat-list {
	.mat-list-item {
		@include setIconButton(18px, 18px, 0px);
	}
}

// customize mat-button
.app-button {
	min-width: unset !important;
	padding: 0 $app-btn-pd !important;
	line-height: $app-btn-line-height !important;

	&:not(:last-child) {
		margin-right: $app-gap-icon;
	}

	&.app-button-gray {
		background-color: $app-gray-2;
	}
}

// card
.mat-card {
	.mat-card-actions {
		&.app-card-actions-top {
			@include setIconButton(20px, 20px);
		}
	}

	.mat-card-header {
		.mat-card-header-text {
			margin-left: 0;

			@include setIconButton(18px, 18px);
		}
	}
}

// mat form field
.app-mat-form-field-wrapper {
	.mat-form-field,
	.mat-checkbox {
		margin-right: $app-gap;
	}
}

// mat tab
.mat-tab-group {
	.mat-tab-body-wrapper {
		padding: $app-gap 0;
	}
}

// library logo in table
.app-logo {
	min-width: 34px;
	display: inline-block;
	vertical-align: inherit;

	img {
		max-height: 20px;
	}
}

// no logo mark
.app-no-logo {
	font-weight: bold;
	color: $app-gray-5;

	&.app-row-want {
		color: $app-row-want;
	}

	&.app-row-want-not {
		color: $app-row-want-not;
	}
}

.page-break {
	page-break-after: always;
	page-break-inside: auto;
}
