// --- GLOBAL ---

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


// --- PEDRO ---
a, .app-link {
	cursor: pointer;
	color: black;
}

.app-cursor-pointer {
	cursor: pointer;
}

.app-hide {
	display: none;
}

.app-container {
	margin: 0 auto;
	max-width: $app-container-width-max;
	width: $app-container-width;
}


// cleaners
.app-clean-pd {
	padding: 0 !important;
}

.app-clean-mg {
	margin: 0 !important;
}

.app-clean-shadow {
	box-shadow: none !important;
}


// icons
.mat-icon {
  font-size: $app-mat-icon-size;
	width: $app-mat-icon-size !important;
	height: $app-mat-icon-size !important;
	
	&:not(:last-child) {
		margin-right: $app-gap-icon;
	}

	&.app-icon-left-mg {
		margin-left: $app-gap-icon;
	}

	&.app-icon-valign-text-bottom {
		vertical-align: text-bottom;
	}
}

// popover card
.app-popover-card {
	background-color: $app-gray-1;

	.mat-card-header-text {
		@extend .app-clean-mg;

		.mat-card-title {
			margin-bottom: 6px;
			font-size: 1rem;
		}
	}
}
