// --- HOME ---

app-home {
  height: 100%;
  align-items: center;
  text-align: center;

  app-search-form {
    justify-content: center;

    .app-search-form-container {
      border: 1px solid $app-gray-3;
    }
  }
}