// --- THEME VDK ---

$app-vdk-primary: mat-palette($mat-red, 600);
$app-vdk-accent:  mat-palette($mat-purple, A200, A100, A400);
$app-vdk-theme:   mat-light-theme($app-vdk-primary, $app-vdk-accent);

@include angular-material-theme($app-vdk-theme);

// vdk colors
$app-primary-color: mat-color($app-vdk-primary);
$app-secondary-color: mat-color($app-vdk-accent, 800);