// --- OFFERS ---

app-offers {
  @extend .app-wrap-component;
  
  .mat-list {
    .mat-list-item {
      &.mat-2-line {
        height: 48px;

        .mat-list-text {
          .mat-line {
            font-size: $app-facet-list-item-val-font-size;
            color: $app-facet-list-item-val-color;
          }
        }

        &.active .mat-list-text .mat-line a{
          font-weight: bold;
        }
      }
    }
  }

  .app-mat-table-container {
    max-height: 700px;
    overflow: auto;

    .mat-table {
      thead {
        .mat-header-cell {
          //color: $app-darkest;

          &.mat-column-button {
            position: relative;

            & > div {
              position: absolute;
              display: block;
              text-align: right;
              width: 200px;
              top: 8px;
              right: 30px;
            }
          }
        }
      }

      tbody {
        .mat-row {
          &.isva {
            background-color: rgba(167, 124, 6, 0.623);
          }
        }
        .mat-cell {
          &.mat-column-price {
            padding-left: calc(#{$app-gap-icon} * 2);
            
            .mat-icon {
              @include setIcon(16px, $app-gray-4);
            }

            &:focus-within {
              .mat-icon {
                color: black !important;
              }
            }

            input {
              @extend .app-clean-border, .app-clean-bg;
              font-size: inherit;
              width: 50px;
              text-align: right;
              padding: 2px 5px 3px 5px;

              &:focus {
                outline: none;
              }

              // remove arrows from input type number
              &::-webkit-outer-spin-button,
              &::-webkit-inner-spin-button {
                -webkit-appearance: none;
                margin: 0;
              }
            }
          }

          &.mat-column-button {
            text-align: right;
          }
        }
      }
    }
  }
}