// --- FACETS ---

app-facets {
  padding: 0 $app-gap 0 0;
  margin-bottom: $app-gap;

  .mat-list-base {
    .mat-subheader {
      height: $app-facet-list-item-height;
    }

    .mat-list-item {
      height: $app-facet-list-item-height;

      .mat-list-item-content {
        .mat-line {
          margin-left: 5px;

          a {
            @include setLinkColor($app-darkest, .7);
          }
        }

        .mat-icon-button {
          margin-right: 2px;
          color: $app-facet-icon-color;
          
          &.active {
            color: $app-facet-icon-active-color;
          }
        }

        .app-count {
          margin-left: $app-facet-list-item-val-mg-right;
          font-size: $app-facet-list-item-val-font-size;
          color: $app-facet-list-item-val-color;
        }
      }
    }

    .mat-divider {
      margin: calc(#{$app-facet-list-item-height} / 2) 0;
    }
  }
}