// --- HOME ---

app-home {
  //height: 100%;
  padding-top: calc(#{$app-gap} * 6);
  align-items: center;
  text-align: center;
  padding-bottom: calc(#{$app-gap} * 2);

  .app-desc {
    width: 640px;
    margin-bottom: 20px;
    display: inline-block;
  }

  app-search-form {
    justify-content: center;

    .app-search-form-container {
      border: 1px solid $app-gray-3;
    }
  }
}