// --- GLOBAL ---

a, .app-link {
	text-decoration: none;
	cursor: pointer !important;

	@include setLinkColor($app-primary-color, .7);
}

.mat-button-focus-overlay {
	background-color: transparent !important;
}

.app-cursor-pointer {
	cursor: pointer;
}

.app-hide {
	display: none;
}

.app-container {
	margin: 0 auto;
	max-width: $app-container-width-max;
	width: $app-container-width;
}

.app-wrap-component {
	display: block;
  padding: $app-gap;
}

.app-input-full-width {
	width: 100%;
}

.app-pipe {
	&:before {
		content: '|';
		margin-right: $app-gap-icon;
		margin-left: $app-gap-icon;
		color: $app-gray-4;
	}
}

.app-label {
	color: $app-gray-7;
	font-size: 12px;
}


// cleaners
.app-clean-pd {
	padding: 0 !important;
}

.app-clean-mg {
	margin: 0 !important;
}

.app-clean-shadow {
	box-shadow: none !important;
}

.app-clean-border {
	border: none !important;
}

.app-clean-bg {
	background-color: transparent !important;
}

// colors
.app-item-expired,
.app-item-closed {
	color: $app-gray-4;
}

.app-snack-success {
	background-color: $app-success-color;
	color: $app-lightest;
}

.app-snack-error {
	background-color: $app-warning-color;
	color: $app-lightest;
}

// icons
.app-icon-cancel {
	color: $app-danger-color !important;
}

// mat button
.mat-button,
.mat-icon-button {
	color: $app-gray-7;

	.mat-button-focus-overlay {
		display: none !important;
	}
}

// popover card
.app-popover-card {
	@extend .app-clean-shadow;
	border: 1px solid $app-gray-3;

	.mat-card-header-text {
		@extend .app-clean-mg;

		.mat-card-title {
			margin-bottom: 6px;
			font-size: 1rem;
		}
	}
}

// angular material table
.mat-table {
	width: 100%;

	thead {
		.mat-header-cell {
			&:first-of-type {
				padding-left: $app-table-first-cell-left-pd;
			}

			&.app-header-cell-30 {
				width: 30px;
			}

			.mat-button {
				.mat-icon {
					@include setIcon(20px);
				}
			}
		}
	}

	tbody {
		.mat-row {
			&.app-even {
				background-color: $app-table-body-row-even;
			}

			&.app-is-va {
				background-color: $app-row-is-va;
			}

			&:hover {
				background-color: $app-table-body-row-highlight;
			}
		}

		.mat-cell {
			&:first-of-type {
				padding-left: $app-table-first-cell-left-pd;
			}

			&.mat-column-button:last-child {
				text-align: right;
			}
			
			.mat-icon-button {
				@include setIconButton(18px, 18px);	
			}

			.app-double-icon-button {
				@include setDoubleIconButton(18px, 14px, 18px);
			}
		}
	}

	tfoot {
		.mat-footer-cell {
			&:first-of-type {
				padding-left: $app-table-first-cell-left-pd;
			}
		}
	}
}

// mat list
.mat-list {
	.mat-list-item {
		.mat-icon-button {
			@include setIconButton(18px, 18px, 0px);
		}	
	}

	&.app-list-nogap-hover-34 {
		padding-top: 0;
		
		.mat-list-item {
			height: 34px;

			&:hover {
				background-color: $app-gray-1;
			}

			.mat-list-item-content {
				@extend .app-clean-pd;

				.mat-icon-button {
					margin-right: 5px;
				}
			}
		}
	}

	&.app-list-view-offers {
		.mat-list-item {
      height: 48px;

      .mat-list-text {
        .mat-line {
          font-size: $app-facet-list-item-val-font-size;
          color: $app-facet-list-item-val-color;
        }
      }

      &.active .mat-list-text .mat-line a {
        font-weight: bold;
      }
    }
	}
}

// customize mat-button
.app-button {
	min-width: unset !important;
	padding: 0 $app-btn-pd !important;
	line-height: $app-btn-line-height !important;

	&:not(:last-child) {
		margin-right: $app-gap-icon;
	}

	&.app-button-gray {
		background-color: $app-gray-2;
	}
}

// card
.mat-card {
	.mat-card-actions {
		&.app-card-actions-top {
			.mat-icon-button {
				@include setIconButton(20px, 20px);	
			}	
		}
		&.app-card-actions-bottom {
			.mat-button {
				.mat-icon {
					@include setIcon(20px);
				}
			}	
		}
	}

	.mat-card-header {
		.mat-card-header-text {
			margin-left: 0;

			.mat-icon-button {
				@include setIconButton(18px, 18px);	
			}
			
		}
	}
}

// mat form field
.app-mat-form-field-wrapper {
	.mat-form-field,
	.mat-checkbox {
		margin-right: $app-gap;
	}
}

// mat tab
.mat-tab-group {
	.mat-tab-body-wrapper {
		padding: $app-gap 0;
	}
}

// library logo in table
.app-logo {
	min-width: 34px;
	display: inline-block;
	vertical-align: inherit;

	img {
		max-height: 20px;
	}
}

// no logo mark
.app-no-logo {
	font-weight: bold;
	color: $app-gray-5;

	&.app-row-want {
		color: $app-row-want;
	}

	&.app-row-want-not {
		color: $app-row-want-not;
	}
}

.page-break {
	page-break-after: always;
	page-break-inside: auto;
}
