// --- RESULTS ITEM ---

app-result-item {
  display: block;
  margin-bottom: $app-gap;
  
  .mat-card {
    .mat-card-header {
      .mat-card-header-text {
        @extend .app-clean-mg;

        .mat-card-title {
          font-size: $app-card-title-font-size;
          scroll-margin-bottom: $app-gap;
        }
  
        .mat-card-subtitle {
          margin-bottom: 0;
        }
      }
    }

    .mat-card-content {
      .app-mat-table-container {
        height: 200px;
        overflow: auto;
        
        .mat-table {
          tbody {
            .mat-row {
              .mat-cell {
               /*  .mat-icon {
                  font-size: calc(#{$app-mat-icon-size} - 3px);
                  width: calc(#{$app-mat-icon-size} - 3px) !important;
                  height: calc(#{$app-mat-icon-size} - 3px) !important;
                } */
                .mat-icon {
                  color: $app-primary-color;
                }

                &:not(.mat-column-buttons) {
                  .mat-icon {
                    font-size: calc(#{$app-mat-icon-size} - 3px);
                    width: calc(#{$app-mat-icon-size} - 3px) !important;
                    height: calc(#{$app-mat-icon-size} - 3px) !important;
                    color: $app-primary-color;
                  }
                }

                img {
                  max-height: 20px;
                  margin-right: calc(#{$app-gap-icon} * 3);
                }

                .app-no-logo {
                  font-weight: bold;
                  color: $app-gray-5;
                  margin-right: calc(#{$app-gap-icon} * 3);
                }

                &:last-child {
                  text-align: right;

                 /*  .mat-button-base {
                    @extend .app-clean-shadow;
                    margin-right: $app-gap-icon;
                  }

                  .mat-mini-fab {
                    width: $app-table-icon-size;
                    height: $app-table-icon-size;

                    .mat-icon {
                      vertical-align: unset;
                    }
                  } */
                }
              }
            }
          }
        }
      }
    }

    .mat-card-actions {
      padding-top: 0;
      margin-top: -5px;

      &.app-card-actions-top {
        border-bottom: 1px solid $app-gray-3;
        padding-left: $app-gap;
        padding-right: $app-gap;
        margin-left: -#{$app-gap};
        margin-right: -#{$app-gap};

        .app-info-text {
          font-size: .9rem;
          margin-left: $app-gap-icon;
          color: $app-gray-7;

          label {
            color: $app-darkest;
            font-weight: bold;
          }
        }
      }

      .mat-icon {
        margin-right: 5px;
      }
    }
  }
}