// --- RESULTS ITEM ---

app-result-item {
  display: block;
  margin-bottom: $app-gap;
  
  .mat-card {
    .mat-card-header {
      .app-header-image {
        background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
        background-size: cover;
      }

      .mat-card-header-text {
        @extend .app-clean-mg;
      }
    }

    .mat-card-content {
      .app-mat-table-container {
        height: 200px;
        overflow: auto;
        
        .mat-table {
          width: 100%;

          tbody {
            .mat-row {
              .mat-cell {
                img {
                  max-height: 20px;
                }

                &:last-child {
                  text-align: right;

                  .mat-button-base {
                    @extend .app-clean-shadow;
                    margin-right: 5px;
                  }

                  .mat-mini-fab {
                    width: $app-table-icon-size;
                    height: $app-table-icon-size;

                    .mat-icon {
                      vertical-align: unset;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}