// --- DEMANDS ---

app-demands {
  @extend .app-wrap-component;

  .app-mat-table-container {
    height: 700px;
    overflow: auto;

    .mat-table {
      thead {
        .mat-header-cell {
          
        }
      }

      tbody {
        .mat-cell {
          .app-comment {
            color: $app-gray-6;
            font-size: .8rem;
            font-style: italic;
          }
        }
      }
    }
  }
}