// --- VDK THEME ---

$app-vdk-primary: mat-palette($mat-red, 600);
$app-vdk-accent:  mat-palette($mat-purple, A200, A100, A400);
$app-vdk-warn:    mat-palette($mat-red);
$app-vdk-theme:   mat-light-theme($app-vdk-primary, $app-vdk-accent, $app-vdk-warn);

// @include angular-material-theme($app-vdk-theme);

.vdk-theme {
  @include angular-material-theme($app-vdk-theme);
}

//@include mat-core-theme($app-theme);
//@include mat-toolbar-theme($app-theme);
//@include mat-icon-theme($app-theme);
//@include mat-core-theme($app-theme);
//@include mat-table-theme($app-theme);
//@include mat-select-theme($app-theme);
//@include mat-checkbox-theme($app-theme);