<div fxFlex>
  <mat-card>
    <mat-card-header>
      <mat-card-title>{{'va_registration' | translate}}</mat-card-title>
    </mat-card-header>
    <form (ngSubmit)="send()" #userForm="ngForm">
      <mat-card-content>
        <mat-form-field>
          <input matInput [(ngModel)]="user.username" name="username" [placeholder]="'username' | translate" required cdkFocusInitial />
        </mat-form-field>
        <mat-form-field>
          <input matInput [(ngModel)]="user.nazev" name="nazev" [placeholder]="'název' | translate" required />
        </mat-form-field>
        <mat-form-field>
          <input matInput [(ngModel)]="user.adresa"  name="adresa" [placeholder]="'adresa' | translate" required />
        </mat-form-field>
        <mat-form-field>
          <input matInput [(ngModel)]="user.telefon"  name="telefon" [placeholder]="'telefon' | translate" required />
        </mat-form-field>
        <mat-form-field>
          <input matInput [(ngModel)]="user.email"  name="email" [placeholder]="'email' | translate" required />
        </mat-form-field>

        <mat-form-field>
            <mat-label>{{'doprava.label' | translate}}</mat-label>
            <mat-select [(ngModel)]="user.doprava" name="doprava">
              <mat-option *ngFor="let dp of config.doprava" [value]="dp">{{'doprava.' + dp | translate}}</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field>
              <mat-label>{{'platba.label' | translate}}</mat-label>
              <mat-select [(ngModel)]="user.platba" name="platba">
                <mat-option *ngFor="let dp of config.platba" [value]="dp">{{'platba.' + dp | translate}}</mat-option>
              </mat-select>
            </mat-form-field>

      </mat-card-content>
      <mat-card-actions class="app-card-actions-bottom">
        <button mat-button matTooltip="{{ 'desc.send_form' | translate }}" type="submit"
          [disabled]="!userForm.form.valid">{{'send' | translate}}</button>
      </mat-card-actions>
    </form>
  </mat-card>
</div>