<h2 mat-dialog-title>{{'desc.add_to_offer' | translate}}</h2>
<mat-dialog-content class="mat-typography">
  <mat-list>
    <ng-container *ngFor="let offer of state.offers">
    <mat-list-item *ngIf="offer.knihovna === state.user.code" [class.active]="offer.id === state.activeOffer.id">
      <mat-icon matTooltip="{{ offer.expired ? 'expired' : 'not_expired' | translate }}" mat-list-icon>
        {{offer.expired ? 'access_time' : 'timelapse'}}</mat-icon>
      <mat-icon matTooltip="{{ offer.closed ? 'closed' : 'open' | translate }}" mat-list-icon>
        {{offer.closed ? 'lock' : 'lock_open'}}</mat-icon>
      <span>{{offer.nazev}}</span>
      <mat-icon *ngIf="!offer.closed" matTooltip="{{ 'desc.add' | translate }}"  (click)="ok(offer.id, offer.nazev)">add</mat-icon>
    </mat-list-item>
  </ng-container>
  </mat-list>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Close</button>
</mat-dialog-actions>