<mat-list>
  <ng-container *ngFor="let field of fields">
    <ng-container *ngIf="facets[field]?.length">
      <h3 mat-subheader>{{ 'fields.' + field | translate }}</h3>
      <mat-list-item *ngFor="let f of facets[field]">
        <ng-container [ngSwitch]="field">
          <ng-container *ngSwitchCase="'zdroj'">
            <mat-icon (click)="addZdrojFilter(f)" [class.active]="hasZdroj(f, false)" class="app-cursor-pointer">check_circle</mat-icon>
            <mat-icon (click)="excludeZdrojFilter(f)" [class.active]="hasZdroj(f, true)" class="app-cursor-pointer">remove_circle</mat-icon>
            <h4 mat-line>
              <a (click)="toggleZdrojFilter(f)">{{ f.name }}</a>
            </h4>
            <span>({{ f.value }})</span>
          </ng-container>
          
          <ng-container *ngSwitchDefault>
            <mat-icon [class.active]="filters[field] === f.name" *ngIf="filters[field] === f.name" class="app-cursor-pointer">check_circle</mat-icon>
            <h4 mat-line>
              <a (click)="toggleFilter(field, f)">{{field==='nabidka' ? getOfferName(f.name) : f.name}}</a>
            </h4>
            <span>({{ f.value }})</span>
          </ng-container>
        </ng-container>
      </mat-list-item>
      <mat-divider></mat-divider>
    </ng-container>
  </ng-container>
</mat-list>