<mat-list>
  <!-- Used filters -->
  <!--   <ng-container *ngIf="usedFilters.length > 0">
    <h3 mat-subheader>
      {{ 'desc.used_filters' | translate }}
    </h3>
    <mat-list-item *ngFor="let f of usedFilters">
      <h4 mat-line>
        <a (click)="toggleUsedFilter(f)">{{ f }}</a>
      </h4>
    </mat-list-item>
  </ng-container> -->
  <!-- /Used filters -->

  <ng-container *ngIf="state.isLibrary">
    <h3 mat-subheader>
      {{ 'desc.matches' | translate }}
    </h3>
    <mat-list-item>
      <ng-container>
        <button mat-icon-button *ngIf="filters.offers" [disableRipple]="true">
          <mat-icon class="active">check_circle</mat-icon>
        </button>
        <!-- <mat-icon *ngIf="filters.offers" class="app-cursor-pointer active">check_circle</mat-icon> -->
        <h4 mat-line>
          <a (click)="toggleOffers()">{{ 'desc.offers' | translate }}</a>
        </h4>
      </ng-container>
    </mat-list-item>
    <mat-list-item>
      <ng-container>
        <button mat-icon-button *ngIf="filters.demands" [disableRipple]="true">
          <mat-icon class="active">check_circle</mat-icon>
        </button>
        <!-- <mat-icon *ngIf="filters.demands" class="app-cursor-pointer active">check_circle</mat-icon> -->
        <h4 mat-line>
          <a (click)="toggleDemands()">{{ 'desc.demands' | translate }}</a>
        </h4>
      </ng-container>
    </mat-list-item>
    <mat-list-item>
      <ng-container>
        <button mat-icon-button *ngIf="filters.wanted" [disableRipple]="true">
          <mat-icon class="active">check_circle</mat-icon>
        </button>
        <!-- <mat-icon *ngIf="filters.wanted" class="app-cursor-pointer active">check_circle</mat-icon> -->
        <h4 mat-line [matTooltip]="'desc.filter_chci' | translate">
          <a (click)="toggleWanted()">{{ 'desc.offer_yes' | translate }}</a>
        </h4>
      </ng-container>
    </mat-list-item>
    <mat-list-item>
      <ng-container>
        <button mat-icon-button *ngIf="filters.matches" [disableRipple]="true">
          <mat-icon class="active">check_circle</mat-icon>
        </button>
        <!-- <mat-icon *ngIf="filters.matches" class="app-cursor-pointer active">check_circle</mat-icon> -->
        <h4 mat-line [matTooltip]="'desc.filter_matches' | translate">
          <a (click)="toggleMatches()">{{ 'desc.matches' | translate }}</a>
        </h4>
      </ng-container>
    </mat-list-item>
    <mat-list-item>
      <ng-container>
        <button mat-icon-button *ngIf="filters.isVA" [disableRipple]="true">
          <mat-icon class="active">check_circle</mat-icon>
        </button>
        <!-- <mat-icon *ngIf="filters.isVA" class="app-cursor-pointer active">check_circle</mat-icon> -->
        <h4 mat-line [matTooltip]="'desc.filter_isVA' | translate">
          <a (click)="toggleIsVA()">{{ 'desc.isVA' | translate }}</a>
        </h4>
      </ng-container>
    </mat-list-item>
    <mat-divider></mat-divider>
  </ng-container><!--/vyhovujici -->

  
  <ng-container *ngIf="!state.isLibrary">
    <mat-list-item>
      <ng-container>
        <button mat-icon-button *ngIf="filters.isVA" [disableRipple]="true">
          <mat-icon class="active">check_circle</mat-icon>
        </button>
        <!-- <mat-icon *ngIf="filters.isVA" class="app-cursor-pointer active">check_circle</mat-icon> -->
        <h4 mat-line [matTooltip]="'desc.filter_isVA' | translate">
          <a (click)="toggleIsVA()">{{ 'desc.isVA' | translate }}</a>
        </h4>
      </ng-container>
    </mat-list-item>
    <mat-divider></mat-divider>
  </ng-container>

  <ng-container *ngFor="let field of fields">
    <ng-container *ngIf="facets[field]?.length">
      <h3 mat-subheader>
        {{ 'fields.' + field | translate }}
      </h3>
      <mat-list-item *ngFor="let f of facets[field]">
        <ng-container [ngSwitch]="field">
          <ng-container *ngSwitchCase="'zdroj'">
            <button mat-icon-button (click)="addZdrojFilter(f)" [disableRipple]="true">
              <mat-icon [class.active]="hasZdroj(f, false)">check_circle</mat-icon>
            </button>
            <button mat-icon-button (click)="excludeZdrojFilter(f)" [disableRipple]="true">
              <mat-icon [class.active]="hasZdroj(f, true)">remove_circle</mat-icon>
            </button>
            <!-- <mat-icon (click)="addZdrojFilter(f)" [class.active]="hasZdroj(f, false)" class="app-cursor-pointer">
              check_circle</mat-icon>
            <mat-icon (click)="excludeZdrojFilter(f)" [class.active]="hasZdroj(f, true)" class="app-cursor-pointer">
              remove_circle</mat-icon> -->
            <h4 mat-line>
              <a (click)="toggleZdrojFilter(f)">{{ f.name }}</a>
            </h4>
            <span class="app-count">({{ f.value }})</span>
          </ng-container>

          <ng-container *ngSwitchDefault>
            <button mat-icon-button *ngIf="filters[field] === f.name" [disableRipple]="true">
              <mat-icon class="active">check_circle</mat-icon>
            </button>
            <!-- <mat-icon *ngIf="filters[field] === f.name" class="app-cursor-pointer active">check_circle</mat-icon> -->
            <h4 mat-line>
              <a (click)="toggleFilter(field, f)">
                <ng-container [ngSwitch]="field">
                  <ng-container *ngSwitchCase="'nabidka'">
                    {{ getOfferName(f.name) }}
                  </ng-container>
                  <ng-container *ngSwitchCase="'status'">
                    {{ 'status.' + f.name | translate }}
                  </ng-container>
                  <ng-container *ngSwitchDefault>
                    {{ f.name }}
                  </ng-container>
                </ng-container>
              </a>
            </h4>
            <span class="app-count">({{ f.value }})</span>
          </ng-container>
        </ng-container>
      </mat-list-item>
      <mat-divider></mat-divider>
    </ng-container>
  </ng-container>
</mat-list>