<h2 mat-dialog-title>{{'Login' | translate}}</h2>

<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <mat-dialog-content class="mat-typography">
        <mat-form-field>
            <input matInput [placeholder]="'username' | translate" [formControl]="f.username" cdkFocusInitial>
            <mat-error *ngIf="f.username.hasError('required')">
                {{'Username is required' | translate}}
            </mat-error>
        </mat-form-field>
        <mat-form-field>
            <input matInput [placeholder]="'password' | translate" [formControl]="f.password" type="password" />
            <mat-error *ngIf="f.password.hasError('required')">
                {{'Password is required' | translate}}
            </mat-error>
        </mat-form-field>
        <div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{error}}</div>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <button mat-button mat-dialog-close>Cancel</button>
        <button mat-button [disabled]="loading" type="submit">OK</button>
    </mat-dialog-actions>
</form>